.hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.heroLeft {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 450px;
    gap: 35px;
    margin-top: 50px;
}

.slogan {
    font-size: 70px;
    font-family: 'Merriweather', serif;
}

.sloganSpecial {
    color: #4986E1;

}

.subSlogan {
    font-size: 20px;
}

.heroBtns {
    display: flex;
    gap: 50px;
}

.quoteHeroBtn {
    background: #1D1D1D;
    border-radius: 20px;
    width: 249px;
    height: 55px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.joinUsHeroBtn {
    color: #4986E1;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.windowImg {
    display: flex;
    flex-grow: 1;
    background-image: url("../Assets/window.svg");
    z-index: 1;
    width: 500px;
    height: 680px;
    scale: .9;
    background-repeat: no-repeat;
    background-size: cover;
}