@media only screen and (max-width: 1300px) {
    body {
        margin: 0 3em 0 3em;
    }
}

@media only screen and (max-width: 1055px) {
    body {
        margin: 0 0em 0 0em;
    }

    .hero {
        justify-content: center;
    }
}

@media only screen and (max-width: 850px) {}