.serviceExpand {
    display: flex;
    justify-content: center;
    height: 100%;
}

.serviceLeft {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 400px;
    height: 85%;
    padding-left: 50px;
    padding-top: 10px;
}

.quoteTitle {
    font-size: 36px;
    color: white;
    margin-top: 30px;
}

.subNavQuote {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    margin-left: -50px;
    margin-bottom: 50px;
}

.locationTxt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
    font-size: 20px;
    color: black;
    background-color: white;
    width: 85%;
    border-radius: 20px;
    height: 50px;
    cursor: pointer;
    user-select: none;
}

.locations {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 50px;
    font-size: 20px;
    color: black;
    background-color: white;
    width: 85%;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
}

.location {
    width: 100%;
    padding: 10px 0 10px 0;
    transition: all ease-in-out .15s;

}

.locationContailer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.location:hover {
    translate: 20px;
}

.dotLoc {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: #1d1d1d;
    border-radius: 50%;
    translate: -30px;
    transition: all ease-in-out .25s;
}

.locationContailer p:hover+.dotLoc {
    translate: 0px;
}

.downArrow {
    width: 24px;
    height: 24px;
    background-image: url("../Assets/DownArrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.upArrow {
    width: 24px;
    height: 24px;
    background-image: url("../Assets/UpArrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.addBtns {
    display: flex;
    justify-content: space-between;
    height: 50vh;
    width: 85%;
    margin-top: 100px;
    gap: 40px;
    user-select: none;
}

.plusBtn,
.minusBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;
    width: 32%;
    border-radius: 20px;
    font-size: 80px;
    color: black;
    cursor: pointer;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
}

.serviceRight {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 400px;
    height: 100%;
    border-radius: 40px;
    background-color: white;
}

.totalPrice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    width: 100%;
}

.price {
    margin-bottom: 200px;
    font-size: 120px;
    font-family: 'Gill Sans';
}

.sendBtnContainer {
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    font-size: 20px;
    width: 85%;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    margin-bottom: 50px;
}

.sendQuoteBtn {
    display: flex;
    justify-content: center;
    bottom: 0;
    color: white;
    font-size: 24px;
}